.item {
    display: flex;
    align-items: center;
    margin: 10px;
    width: 320px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #fff;
}

.status {
    padding: 20px;
}

.avatar {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.name {
    font-size: 28px;
    font-weight: 600;
}