.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40;
    color: #010101;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
    background-color: rgba(0, 255, 255, 0.2);
}